.shadow { display:none; }
.bottomShadow { display:none; }
#HeaderBar .noprint { display:none; }
#PageSpacer .noprint { display:none; }
.yesprint { display:block }
h2 {
  page-break-before: always;
}
#MastHead {
        background-color:#800000;
}
