@font-face {
    font-family: poetsenone;
    src: url("../fonts/poetsenone-regular.woff2") format("woff2"),
         url("../fonts/poetsenone-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url('../images/background_frontend.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: poetsenone, sans-serif;
}

strong{
    font-weight: normal;
}
html{
    height: 100%;
}
table.DescMit {
    table-layout: fixed;
    width: 100%;
    border-spacing: 15px;
    overflow: scroll;
    color: white;
    border: none;
}
table.DescMit td{
    word-wrap: break-word;
}

ul.allCapec {
    color: white;
}

.logo_text {
    top: 30px;
    right: 300px;
    position: absolute;

    font-family: poetsenone, sans-serif;
    font-size: 50px;
    color: white;
    z-index: 1;

    text-shadow: black 3px 3px 9px;
    user-select: none;
}
.text_frame_menu{
    z-index: 2;
    top: 51px;
    left: 230px;
    word-spacing: 30px;
    position: absolute;

    font-family: poetsenone, sans-serif;
    font-size: 28px;
    color: white;
    cursor: default;
    text-shadow: black 2px 2px 4px;
    user-select: none;
}
.single_text_in_menu{
    cursor: pointer;
    display: inline;
    user-select: none;
}
.container {
    margin-top: 100px;
    height: 770px;
    width: 1600px;
    position: relative;
    border-radius: 140px;
    background-color: #10647e;
    /*#424549 discord grey*/
}

.button_5050 {
    border: 2px solid #008CBA;
    background-color: white;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.3s;
    font-family: poetsenone, sans-serif;
    border-radius: 12px;
}
.button_5050:disabled:hover,
button[disabled] {
    border: 2px solid #7d7d7d;
    background-color: rgba(176, 206, 222, 0.35);
}

.button_5050:hover {
    background-color: #008CBA;
    color: black;
}

.button_5050_delete {
    border: 2px solid #920107;
    background-color: white;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.3s;
    font-family: poetsenone, sans-serif;
    border-radius: 12px;
}
.button_5050_delete:disabled:hover,
button[disabled] {
    border: 2px solid #7d7d7d;
    background-color: rgba(176, 206, 222, 0.35);
}

.button_5050_delete:hover {
    background-color: #920107;
    color: black;
}

.button_5050_delete_disabled {
    border: 2px solid #7d7d7d;
    background-color: rgba(176, 206, 222, 0.35);
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.3s;
    font-family: poetsenone, sans-serif;
    border-radius: 12px;
}

.center_image {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center_score {
    margin: 0;
    position: fixed;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center_lives {
    margin: 0;
    position: fixed;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center_answers {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: space-between;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button_text{
    font-family: poetsenone, sans-serif;
    color: #49b9d5; /* white */
    user-select: none;
    font-size: 34px;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}
.divider_in_menu{
    margin-bottom: 20px;
}


/* Testing 3d button */
.button-3d {
    font-family: poetsenone, sans-serif;
    text-shadow: 0px 0px black;
    position:relative;
    width: auto;
    color: black;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px #008CBA; /* If purple with white text -> #5f2388 */
    background: rgb(255, 255, 255);      /* #2f41a4 */
    text-align:center;
    padding:16px 18px 14px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: 0 6px 0 #008CBA;/* #d35400; *//* purple white text -> #052f7e this for rest */
    -moz-box-shadow: 0 6px 0 #008CBA;
    box-shadow: 0 6px 0 #008CBA;

    cursor: pointer;
}
.button-3d:active{
    -webkit-box-shadow: 0 2px 0 #008CBA;
    -moz-box-shadow: 0 2px 0 #008CBA;
    box-shadow: 0 2px 0 #008CBA;
    position:relative;
    top:4px;
}

input[type=checkbox]{
    transform: scale(2);
}


.popup .overlay {
    position: fixed;
    top:0;
    left:0;
    width:83.35vw;
    height:95vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
}

.popup .content {
    position:absolute;
    top:50%;
    left:50%; transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:1050px;
    height:720px;
    z-index:2;
    text-align:center;
    padding:0;
    box-sizing:border-box;

    border-radius: 30%;
}

.popup .close-btn {
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:white;
    color:black;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:30%;
    cursor: pointer;
}

.popup.active .overlay {
    display:block;

}

.popup.active .content {
    transform:translate(-50%,-50%) scale(1);
    transition:all 300ms ease-in-out;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 15px;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #008CBA;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

/* Countdown */

/*body {*/
/*    font-family: sans-serif;*/
/*    display: grid;*/
/*    height: 100vh;*/
/*    place-items: center;*/
/*}*/

.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
    color: white;
    text-shadow: 2px 2px black;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: #008CBA;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.white {
    color: white;
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.fa-heart {
    color: palevioletred;
    font-family: poetsenone, sans-serif;
    font-size: 28px;
}

.fa-shield-alt {
    font-size: 28px;
}

.fa-percentage {
    font-size: 28px;
}

.fa-phone-alt {
    font-size: 28px;
}
.fa-users {
    font-size: 28px;
}

.fa-bitcoin-sign {
    font-size: 28px;
}

.protection_glow {
    border-radius: 20%;
    box-shadow:
            inset 0 0 80px #fff,      /* inner white */
            inset 50px 0 110px #ffd500,   /* inner left magenta short */
            inset -50px 0 110px #0ff,  /* inner right cyan short */
            inset 50px 0 330px #ffdd00,  /* inner left magenta broad */
            inset -50px 0 330px #0ff, /* inner right cyan broad */
            0 0 80px #fff,            /* outer white */
            -30px 0 110px #ffe600,        /* outer left magenta */
            50px 0 110px #00ffea;         /* outer right cyan */
}

.container_score_bar {
    display: flex;
    width: 40px;
    height: 350px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    align-items: flex-end;
    border-radius: 5%;

}
.score_bar {
    display: block;
    width: 40px;
    background-color: #0ff;
    margin: 0 auto;
    vertical-align: bottom;
    height: 0px;
    border-radius: 2%;

    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    box-shadow: 0px 30px 80px 30px #00ffea;
}

.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    --field-padding: 12px;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
    font-family: poetsenone, sans-serif;
    color: white;
}

.custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 10px;
    line-height: 100%;
    transform: translateY(-50%);
    color: white;
    transition:
            top 0.3s ease,
            color 0.3s ease,
            font-size 0.3s ease;
    cursor: text;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 10px;
    color: white;
}

.custom-field .error-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    background: #d30909;
    color: #fff;
    height: 24px;
}

.custom-field .error-message:empty {
    opacity: 0;
}

/* ONE */
.custom-field.one input {
    background: none;
    border: 2px solid white;
    transition: border-color 0.3s ease;
}

.custom-field.one input + .placeholder {
    left: 8px;
    padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
    border-color: black;
    transition-delay: 0.1s
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
    top: -12px;
    font-size: 10px;
    color: #222;
    background: #10647e;
    width: auto
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}


.button_plus {
    border: 2px solid #008CBA;
    background-color: white;
    color: black;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    cursor: pointer;
    transition-duration: 0.3s;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 12%;
    margin-left: 4px;
}

.button_plus:hover {
    background-color: #008CBA;
    color: white;
}

::placeholder {
    color: black;
}

.gcse-searchbox-only input{
    width: 100px;
}

.textarea_custom {
    width: 80%;
    border-top: 0;
    border-bottom: 2px solid #008CBA;
    border-right: 0;
    border-left: 0;
    /*background-color: rgb(241,250,247);*/
    text-decoration: none;
    outline: none;
    display: block;
    padding: 2px 0 2px 15px;
    margin: 10px 0;
    font-family: poetsenone, sans-serif;
    font-size: 16px;
}

.score_rows {
    height: 354px;
    margin: 0 auto;
    position: absolute;
    top: 27%;
    left: 96.5%;
    color: white;
}
.tenPercent {
    box-sizing: border-box; /** this adds the borders into the width **/
    display: inline-block;
    border: 2px solid white;
    height: 10%;
    width: 54px;
    border-radius: 6px;
    margin-bottom: 0;
}

img {
    transition: transform 0.35s ease;
}

img:hover {
    animation: normal;
    margin-left: -14%;
    -webkit-transform: scale(2);
    transform: scale(2);
}