@font-face {
    font-family: poetsenone;
    src: url("../fonts/poetsenone-regular.woff2") format("woff2"),
         url("../fonts/poetsenone-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url('../images/background_frontend.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html{
    height: 100%;
}

table.DescMit {
    table-layout: fixed;
    width: 100%;
    border-spacing: 15px;
    overflow: scroll;
    color: white;
    border: 1px solid black;
}
table.DescMit td{
    word-wrap: break-word;
}

ul.allCapec {
    color: white;
}

.logo_text {
    top: 30px;
    right: 300px;
    position: absolute;

    font-family: poetsenone, sans-serif;
    font-size: 50px;
    color: white;
    z-index: 1;

    text-shadow: black 3px 3px 9px;
    user-select: none;
}
.text_frame_menu{
    z-index: 2;
    top: 51px;
    left: 230px;
    word-spacing: 30px;
    position: absolute;

    font-family: poetsenone, sans-serif;
    font-size: 28px;
    color: white;
    cursor: default;
    text-shadow: black 2px 2px 4px;
    user-select: none;
}
.single_text_in_menu{
    cursor: pointer;
    display: inline;
    user-select: none;
}
.container {
    height: 530px;
    width: 1300px;
    position: relative;
    border-radius: 140px;
    background-color: #10647e;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button_text{
    font-family: poetsenone, sans-serif;
    color: white; /* white */
    user-select: none;
    font-size: 34px;
    text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
}
.divider_in_menu{
    margin-bottom: 20px;
}


/* Testing 3d button */
.button-3d {
    position:relative;
    width: auto;
    color: #ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px #1485b9; /* If purple with white text -> #5f2388 */
    background: #1cb3df;      /* #2f41a4 */
    text-align:center;
    padding:16px 18px 14px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: 0 6px 0 #1485b9;/* #d35400; *//* purple white text -> #052f7e this for rest */
    -moz-box-shadow: 0 6px 0 #1485b9;
    box-shadow: 0 6px 0 #1485b9;

    cursor: pointer;
}
.button-3d:active{
    -webkit-box-shadow: 0 2px 0 #1485b9;
    -moz-box-shadow: 0 2px 0 #1485b9;
    box-shadow: 0 2px 0 #1485b9;
    position:relative;
    top:4px;
}