<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7401e2a6eb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <br>
        <h1 style="color:white; font-size: large; text-align: center; font-weight: normal" th:text="${'Quiz ID: '+quiz.QId}"></h1>
        <h1 style="color:white; font-size: large; text-align: center; font-weight: normal" th:text="${'Quiz name: '+quiz.name}"></h1>

        <p style="color:white; font-size: large; text-align: center" th:text="${'Question: '+quiz.qas[__${page}__].question}">
        <p th:if="${quiz.qas[__${page}__].img != null}">
            <img style="max-width: 500px; max-height: 300px;" class="center_image" th:src="*{'data:image/png;base64,'+quiz.qas[__${page}__].img}" alt=""/>
        </p>

        <strong class="center_score" th:if="${user.lives>0}" th:text="${'Lives left:'}" style="color: white; font-size: large; position: absolute;"></strong>
        <b></b>
        <div class="center_score" style="margin-top: 35px; margin-left: 130px;">
            <i class="fas fa-heart" th:if="${user.lives==5}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=4}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=3}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=2}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=1}"></i>
        </div>

        <div class="center_answers">
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <input type="hidden" name="answer" th:value="${correct}">
                <button class="button-3d" style="width: 300px; max-width: 300px; height: 100px; white-space: normal; word-wrap: break-word" type="submit" th:text="${correct}"></button>

            </form>

            <span style="width: 20px;"></span>
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${fake}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" style="width: 300px; max-width: 300px; height: 100px; white-space: normal; word-wrap: break-word" type="submit" th:text="${fake}"></button>
            </form>
            <span style="width: 20px;"></span>
        </div>
        <script th:inline="javascript">
            var scoreBenchmark  = [[${quiz.qas.size*10}]];
            var score           = [[${user.score}]];
            function init(){
                $('.score_bar').attr('style', 'height:' + (((score / scoreBenchmark) * 100)*3.5) + 'px' );
            };



            setTimeout(function(){
                init();
            }, 0);
        </script>
        <div class="container_score_bar">
            <div class="score_bar"></div>
        </div>
        <strong style="color: white; float: right; position: absolute; right: 2%; top: 20%; font-size: 20px" th:text="${'Score: '+user.score+' / '+quiz.qas.size*10}"></strong>
    </div>
</div>
</body>

</html>