<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/js/popup.js}"></script>
    <script type="text/javascript" th:src="@{/js/popupquizplay.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7401e2a6eb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu" onclick="window.location.href='/adminindex'">Admin</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <button style="position: absolute; top: 5.5%; left: 8%; padding: 6px; border: 2px solid black" th:if="${page>0}" onclick="popupload()" class="button_5050">Explanation for previous question.</button>
        <script th:if="${page>0 && call==null && audience == null}">function popupload(){togglePopup();}</script>
        <div class="popup" id="popup-1" style="float:right;">
            <div class="overlay" th:onClick="togglePopup()"></div>
            <div class="content" style="z-index: 3">
                <div class="close-btn" th:onClick="togglePopup()">&times;</div>
                <h1>Question:</h1>
                <strong th:if="${page>0}" style="color: black; font-weight: normal; font-size: 22px; text-overflow: ellipsis; width: 900px; display:inline-block" th:text="${quiz.qas.get(page -1).question}"></strong>
                <h1>Correct answer:</h1>
                <strong th:if="${page>0}" style="font-size: 22px; text-overflow: ellipsis; width: 900px; display:inline-block" th:text="${quiz.qas.get(page -1).correctAnswer}"></strong>
                <h1>Explanation:</h1>
                <strong th:if="${page>0}" style="font-size: 22px; text-overflow: ellipsis; width: 900px; display:inline-block" th:text="${quiz.qas.get(page -1).explanation}"></strong>
            </div>
        </div>
        <div style="width: 800px; margin-left: 400px">
            <h1 style="color:white; font-size: large; text-align: center; font-weight: normal" th:text="${'Quiz ID: '+quiz.QId}"></h1>
            <h1 style="color:white; font-size: large; text-align: center; font-weight: normal" th:text="${'Quiz name: '+quiz.name}"></h1>
            <p style="color:white; font-size: large; text-align: center" th:text="${'Question: '+quiz.qas[__${page}__].question}">
        </div>

        <p th:if="${quiz.qas[__${page}__].img != null}">
            <img style="max-width: 500px; max-height: 270px; z-index: 2" class="center_image" th:src="*{'data:image/png;base64,'+quiz.qas[__${page}__].img}" alt=""/>
        </p>

        <strong class="center_score" th:if="${user.lives>0}" th:text="${'Lives left:'}" style="color: white; font-size: large; position: absolute;"></strong>
        <b></b>
        <div class="center_score" style="margin-top: 35px; margin-left: 130px;">
            <i class="fas fa-heart" th:if="${user.lives==5}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=4}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=3}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=2}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=1}"></i>
        </div>

        <div class="center_answers">
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <input type="hidden" name="answer" th:value="${correct}">
                <button class="button-3d" style="width: 300px; max-width: 300px; height: 115px; white-space: normal;
                word-wrap: break-word; font-size: 18px" type="submit" th:text="${correct}"></button>

            </form>

            <span style="width: 20px;"></span>
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${fake}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" style="width: 300px; max-width: 300px; height: 115px; white-space: normal;
                word-wrap: break-word; font-size: 18px" type="submit" th:text="${fake}"></button>
            </form>
            <span style="width: 20px;"></span>
        </div>
        <script th:inline="javascript">
            var scoreBenchmark  = [[${quiz.qas.size*10}]];
            var score           = [[${user.score}]];
            function init(){
                $('.score_bar').attr('style', 'height:' + (((score / scoreBenchmark) * 100)*3.9) + 'px' );
            };



            setTimeout(function(){
                init();
            }, 0);
        </script>
        <div class="container_score_bar">
            <div class="score_bar"></div>
        </div>
        <strong style="color: white; float: right; position: absolute; right: 2%; top: 20%; font-size: 20px" th:text="${user.score*1000+' / '+quiz.qas.size*10000}"></strong>
        <i class="fas fa-coins" style="font-size: 68px; position: absolute; right: 4%; top: 10%; float: right; color: gold;"></i>
        <div class="score_rows">
            <th:block th:each="i: ${#numbers.sequence(quiz.qas.size() - 1, 0, -1)}">
                <div class="tenPercent" th:if="${i == 3 || i == 5 || i == 8}" th:style="${user.score*1000==i*10000 ? 'background-color: #1cb3df; color: gold;' : 'color: gold'}">
                    <strong th:text="${i*10000}"></strong>
                </div>
                <div class="tenPercent" th:if="!${i == 3 || i == 5 || i == 8}" th:style="${user.score*1000==i*10000 ? 'background-color: #1cb3df; color: black;' : ''}">
                    <strong th:text="${i*10000}"></strong>
                </div>

            </th:block>
        </div>
        <div class="popup" id="popup-2" style="float:right;">
            <div class="overlay" th:onClick="togglePopupQuizPlay()"></div>
            <div class="content">
                <div class="close-btn" th:onClick="togglePopupQuizPlay()">&times;</div>
                <br><br><br>
                <h1 style="">Score:</h1>
                <strong style="color: black; font-weight: normal; font-size: 22px">
                    Reach the golden scores so that you don't drop in score.
                    <br>If you do not reach the golden score you will drop down<br>
                    to the previous golden score or 0 if you didn't<br> reach any yet.<br>
                </strong>
                <h1>Lifelines:</h1>
                <strong style="font-size: 22px">
                    Shield - You don't lose a life if you answer wrong.<br>
                    50/50 - Two of the wrong answers gets eliminated.<br>
                    Call a friend - You write your question in the search box <br> and select
                    which friend you want to call.<br>
                    Ask the audience - You ask the audience what they think the correct answer is.
                </strong>
            </div>
        </div>
        <button style="position: absolute; top: 5%; left: 4%; padding: 1px 8px; font-size: 30px; border: 2px solid black" class="button_5050" th:onClick="togglePopupQuizPlay()">?</button>
    </div>
</div>
</body>

</html>