<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <div class="button-3d" onclick="window.location.href='/capecDomainsOfAttack'"><div class="button_text">Create questions
                from Capec</div></div>
            <div class="divider_in_menu"></div>
            <div class="button-3d"><div class="button_text">Create  <!-- onclick="window.location.href='/capecMechanismsOfAttack'" -->
                questions from CWE</div></div>
            <div class="divider_in_menu"></div>
            <div class="button-3d" onclick="window.location.href='/javaCodingStandards'"><div class="button_text">Create questions from Java coding standards</div></div>
<!--            <div class="divider_in_menu"></div>-->
<!--            <div class="button-3d"><div class="button_text">Delete Quiz</div></div>-->
        </div>
        </form><br>
        <div class=message>
            <p><span class=message th:text="${message}"></span></p>
        </div>
    </div>
</div>
</body>

</html>