<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
        </div>
        <br>
        <p><span style="margin-left: 20px; color: white" th:text="${message}"></span></p>
        <form th:action="@{/addQA}" style="margin-left: 50px; margin-top: 50px" th:method="post" enctype="multipart/form-data">
            <b style="color: white; text-shadow: 1px 1px black">Question:</b>
            <input type="file" name="file" accept="image/png, image/jpeg">
            <br>
            <textarea type="text" name="addquestion" style="height: 50px;"></textarea>
            <br>
            <b style="color: white; text-shadow: 1px 1px black">Add 3 fake answers:</b>
            <br>
            <textarea type="text" name="fakeanswer1"></textarea>
            <br>
            <textarea type="text" name="fakeanswer2"></textarea>
            <br>
            <textarea type="text" name="fakeanswer3"></textarea>
            <br>
            <b style="color:white; text-shadow: 1px 1px black">Add 1 correct answer:</b>
            <br>
            <textarea type="text" name="correctanswer"></textarea>
            <br>
            <input type="submit" name="addquestionsubmit" value="Add question">
            <ul>
                <b>Tags:</b><br>
                <b>Network</b><input type="checkbox" name="tag1" th:value="NETWORK">
                <b>Software Security</b><input type="checkbox" name="tag2" th:value="SOFTWARE_SECURITY">
                <b>Coding Standard</b><input type="checkbox" name="tag3" th:value="CODING_STANDARD">
            </ul>
        </form>
    </div>
</div>
</body>

</html>