<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <frame-options policy="SAMEORIGIN"/>
    <frame-options disabled="true"/>
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
        </div>
        <br>
        <br>
        <div style="margin-left: 30%">
            <strong style="font-weight: normal; color: white; font-size: 18px;" th:text="${message}"></strong>
            <strong style="font-weight: normal; color: white; font-size: 18px; float: bottom">Use the links below to help construct your questions.</strong>
        </div>
        <form th:action="@{/addQA}" style="font-size: 24px; margin-left: 50px; margin-top: 50px; float: left" th:method="post" enctype="multipart/form-data">
            <strong style="color: white; font-weight: normal; text-shadow: 2px 2px black">Question:</strong>
            <input type="file" name="file" accept="image/png, image/jpeg">
            <br>
            <textarea type="text" name="addquestion" style="height: 50px;"></textarea>
            <br>
            <strong style="color: white; font-weight: normal; text-shadow: 2px 2px black">Add 3 fake answers:</strong>
            <br>
            <textarea type="text" name="fakeanswer1"></textarea>
            <br>
            <textarea type="text" name="fakeanswer2"></textarea>
            <br>
            <textarea type="text" name="fakeanswer3"></textarea>
            <br>
            <strong style="color:white; font-weight: normal; text-shadow: 2px 2px black">Add the correct answer:</strong>
            <br>
            <textarea type="text" name="correctanswer"></textarea>
            <br>
            <input class="button_5050" type="submit" name="addquestionsubmit" value="Add question">
            <ul>
                <strong style="font-weight: normal; color: white; text-shadow: 2px 2px black">Tags:</strong><br>
                <strong style="font-weight: normal; margin-right: 6px; color: white">Network</strong><input type="checkbox" name="tag1" th:value="NETWORK">
                <strong style="font-weight: normal; margin-right: 6px; color: white">Software Security</strong><input type="checkbox" name="tag2" th:value="SOFTWARE_SECURITY">
                <strong style="font-weight: normal; margin-right: 6px; color: white">Coding Standard</strong><input type="checkbox" name="tag3" th:value="CODING_STANDARD">
            </ul>
<!--            <iframe src="https://pdfhost.io/v/VIm7QKPxY_cwe_latest&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>-->
        </form>
        <form style="margin-top: 50px; margin-left: 40%;">
            <a style="width: 35%" class="button_5050" th:href="@{'https://capec.mitre.org/data/definitions/1000.html'}" target="popup"
               onclick="window.open('https://capec.mitre.org/data/definitions/1000.html','name','width=600,height=500')">Capec - Mechanisms Of Attack</a>
            <br>
            <a style="width: 35%" class="button_5050" th:href="@{'https://wiki.sei.cmu.edu/confluence/display/java'}" target="popup"
               onclick="window.open('https://wiki.sei.cmu.edu/confluence/display/java','name','width=600,height=500')">SEI CERT - Coding Standard for Java</a>
            <br>
            <a style="width: 35%" class="button_5050" th:href="@{'https://cwe.mitre.org/data/definitions/699.html'}" target="popup"
               onclick="window.open('https://cwe.mitre.org/data/definitions/699.html','name','width=600,height=500')">CWE - Software Development</a>
        </form>


    </div>
</div>
</body>

</html>