<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <div class="button-3d"><div class="button_text">Start Quiz</div></div>
            <div class="divider_in_menu"></div>
            <div class="button-3d" onclick="window.location.href='/newQuiz'"><div class="button_text">Create Quiz</div></div>
            <div class="divider_in_menu"></div>
            <div class="button-3d" onclick="window.location.href='/addQuestion'"><div class="button_text">Create questions</div></div>
            <div class="divider_in_menu"></div>
            <div class="button-3d"><div class="button_text">Load Quiz</div></div>
            <div class="divider_in_menu"></div>
            <div class="button-3d"><div class="button_text">Delete Quiz</div></div>
            <div class="divider_in_menu"></div>
            <div class="button-3d" onclick="window.location.href='/populateTemporary'"><div class="button_text">Temporary populate DB button</div></div>
            <div class="divider_in_menu"></div>
            <div class="button-3d" onclick="window.location.href='/deleteQ'"><div class="button_text">Temporary delete button</div></div>
        </div>
        <form th:action="@{/searchQA}">
            <h3>Search for Question/Answer:</h3>
            Search:<input type="text" name="question"><br><br>
<!--            <button type="submit"><div class="button-3d"><div class="button_text">Load Quiz</div></div></button>-->
            <input type="submit" name="submit" value="Search">
        </form><br>
        <div class=message>
            <p><span class=message th:text="${message}"></span></p>
            <tr th:each="qa : ${qas}">
                <td>ID:</td>
                <td th:text="${qa.qaId}">QA Id</td>
                <td>Question:</td>
                <td th:text="${qa.question}">Question</td>
                <br>
                <td>Answer options:</td>
                <td th:text="${qa.getAnswers().get(0)}">Answer</td>
                <td th:text="${qa.getAnswers().get(1)}">Answer</td>
                <td th:text="${qa.getAnswers().get(2)}">Answer</td>
                <td th:text="${qa.getAnswers().get(3)}">Answer</td>
                <br>
                <td>Correct answer:</td>
                <td th:text="${qa.getCorrectAnswer()}">Correct Answer</td>
                <br>
            </tr>
        </div>
        <form th:action="@{/addQA}">
            Question:
            <input type="text" name="addquestion">
            <input type="submit" name="addquestionsubmit" value="Add question">
            <br>
            Add 3 fake answers:
            <input type="text" name="fakeanswers">
            <br>
            Add 1 correct answer:
            <input type="text" name="correctanswer">
        </form>
    </div>
</div>
</body>

</html>