<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function success(){
            let response = "[[${response}]]";
            let msg = "[[${message1}]]"
            if(response === 'success'){
                Swal.fire({
                    title: 'Success!',
                    text: msg,
                    icon: 'success',
                    confirmButtonColor: '#008CBA'
                });
            }
            else if(response === 'warn')
            {
                Swal.fire({
                    title: 'Warning!',
                    text: msg,
                    icon: 'warning',
                    confirmButtonColor: '#008CBA',
                });
            }
            else if(response === 'error')
            {
                Swal.fire({
                    title: 'Error!',
                    text: msg,
                    icon: 'error',
                    confirmButtonColor: '#008CBA',
                });
            }
        }
    </script>
</head>

<body onload="success()">
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu" onclick="window.location.href='/adminindex'">Admin</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <div class="button-3d" onclick="window.location.href='/'"><div class="button_text" style="font-size: 52px">Start Quiz</div></div>
        </div>
        <div class=message style="width: 1000px; max-width: 1000px; position: absolute; left: 10%">
            <strong style="color:white; margin-left: 20%"><span class=message th:text="${message}"></span></strong>
        </div>
    </div>
</div>
</body>

</html>