<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <div style="height:430px; width: 700px; margin-left: 100px; overflow: auto; border: 2px solid white; border-radius: 18px; font-size: 19px">
                <table th:class="DescMit">
                    <tr>
                        <th style="font-weight: normal">User ID</th>
                        <th style="font-weight: normal">Name</th>
                        <th style="font-weight: normal">Score</th>
                        <!--                        <th>Description</th>-->
                        <!--                        <th>Mitigation strategy</th>-->
                        <th class=th-hidden></th>
                    </tr>
                    <tr th:each="score : ${scores}">
                        <td align="center" th:text="${score.uid}"></td>
                        <td align="center" th:text="${score.username}"></td>
                        <td align="center" th:text="${score.score}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>