<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/js/popup.js}"></script>
    <link rel="stylesheet" th:href="@{/chosen/chosen.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">

        <div class="row">
            <div style="width: 100%; height: 320px; border-radius: 140px;">
            <div class="column">
                <form th:action="@{/Quiz/Create/Search}">
                    <h1 style="margin-left: 30%; color: white; text-shadow: 2px 2px black">Search:</h1>
                    <label class="custom-field one" style="margin-left: 30%;">
                        <input type="text" name="question" placeholder=" "><span class="placeholder">Enter search words</span>
                    </label>
                    <br><br>

                    <div style="margin-left: 30%; padding-bottom: 10px; color: white; height: 75px">
                        <strong style="color: white; font-size: 18px; text-shadow: 1px 1px 0px black;">Search with tags:</strong><br><br>
                        <select name="tags" data-placeholder="Select tags" multiple class="chosen-select" style="width: 120px; overflow-y: scroll; height: 10px; float: left">
                            <div th:each="tag : ${tags}">
                                <option name="tags_list" th:value="${tag.TId}" th:text="${tag.tag}"></option>
                            </div>
                        </select>
                        <script th:src="@{/chosen/chosen.jquery.js}" type="text/javascript"></script>

                        <script>
                            $(".chosen-select").chosen();
                            $("ul.chosen-choices").css({ "overflow": 'auto', "max-height": "70px"});
                        </script>
                    </div>

                    <!--            <button type="submit"><div class="button-3d"><div class="button_text">Load Quiz</div></div></button>-->
                        <input style="float:left; margin-left: 30%; margin-top: 35px" type="submit" name="submit" value="Search" class="button_5050">

                </form>
            </div>
            <div class="column" style="margin-left: 28px;">
                <form th:action="@{/Quiz/Create}" th:object="${quiz}" method="post" style="max-height: 720px">
                    <h1 style="margin-left: 0; color: white; text-shadow: 2px 2px black">Create quiz by selecting questions:</h1>
                    <div style="margin-top: 5%">
<!--                        <strong style="margin-left: 0; color: white; font-size: 18px; text-shadow: 1px 1px black">Quiz name:</strong>-->
                        <label class="custom-field one">
                            <input type="text" name="name" th:field="*{name}" placeholder=" "><span class="placeholder">Enter Quiz Name</span>
                        </label>
                        <pre></pre>
                        <select name="lives" style="font-family: poetsenone, sans-serif; padding: 5px; border-radius: 6px; border: 2px solid black;">
                            <option value="-1">Amount of errors:</option>
                            <option value="-1">Infinite</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="hidden" th:field="*{QId}">
                        <br>
                        <button class="button_5050" style="margin-top: 15px; margin-left: 0px; margin-bottom: 25px" type="submit">Create quiz</button>
                    </div>
                    <h1 style="color: white; text-shadow: 2px 2px black; float: left; margin-left: -400px">Questions list:</h1>
                    <div style="margin-top: 60px; margin-left: -400px; padding-right: 30px; height:380px; width: 750px; max-width: 1000px; overflow: auto;
                    text-overflow: ellipsis; border: 1px solid white; border-radius: 25px; font-size: 19px; color: white; word-break: break-word">
                        <ul>
                            <div th:each="qa : ${qas}">
                                <input style="margin-right: 10px; margin-bottom: 15px; float: bottom" type="checkbox" name="quizqa" th:value="${qa.qaId}" th:field="${quiz.qas}">
                                <label style="margin-right: 10px;" th:text="${qa.qaId}"></label>
                                <label style="margin-right: 10px" th:text="${qa.question}"></label>
                            </div>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="column" style="float: right">
                <h1 style="color: white; text-shadow: 2px 2px black">Create quiz with random questions:</h1>
                <form th:action="@{/Quiz/Create-random}" method="post" th:object="${qas}">
                    <div th:each="qa : ${qas}">
                        <input type="hidden" name="qas" th:value="${qa.qaId}">
                    </div>
                    <div style="margin-top: 1%">
<!--                        <strong style="color: white; font-size: 18px; text-shadow: 1px 1px black">Quiz name:</strong>-->
                        <label class="custom-field one">
                            <input type="text" name="name_random" placeholder=" "><span class="placeholder">Enter Quiz Name</span><br>
                        </label>
                        <br>
<!--                        <strong style="padding: 3px; background-color: white; border-radius: 6px; border: 2px solid black; margin-right: 5px"> Amount of errors: </strong>-->
                        <select style="border: 2px solid black; border-radius: 6px; padding: 5px; margin-top: 5px; margin-bottom: 10px; font-family: poetsenone, sans-serif" name="lives_random">
                            <option value="-1">Amount of errors:</option>
                            <option value="-1">Infinite</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><br>
<!--                        <strong style="padding: 3px; background-color: white;-->
<!--                            border-radius: 6px; border: 2px solid black; margin-right: 5px; margin-top: 10px;"> Number of questions:-->
<!--                        </strong>-->
                        <select style="border: 2px solid black; border-radius: 6px; padding: 5px; font-family: poetsenone, sans-serif" name="quiz_size">
                            <option value="1">Number of questions:</option>
                            <option th:each="i : ${#numbers.sequence(1,qas.size(),1)}" th:text="${i}" th:value="${i}" name="quiz_size">
                            </option>
                        </select>
                        <br><br>
                        <button style="margin-left: 0px" class="button_5050">Create with random questions</button>
                    </div>
                </form>
                <div class="popup" id="popup-1" style="float:right;">
                    <div class="overlay" th:onClick="togglePopup()"></div>
                    <div class="content">
                        <div class="close-btn" th:onClick="togglePopup()">&times;</div>
                        <h1 style="">Create quiz by selecting questions:</h1>
                        <strong style="color: black; font-weight: normal; font-size: 22px">Name your quiz and select amount of errors
                            <br> allowed before losing the quiz.
                            <br>If you select 'Infinite' you allow infinite amount of errors.<br>
                            Check the questions you want to add to your quiz<br> and write the name, then press create quiz.
                        </strong>
                        <h1>Create quiz with random questions from search/tag:</h1>
                        <strong style="font-size: 22px">Create quiz from randomly selected questions:<br>
                            Select tags and/or search for word, hit search,<br> then select how many questions you want to randomly <br>
                            add from the updated question list containing<br> questions based on your search and selected tags.<br>
                        </strong>
                        <h1>Search:</h1>
                        <strong style="font-size: 22px">You can search by search word, tags or both.<br>
                            Enter the word(s) you want to search for and hit search.<br> If you want to search by tag(s), you check the tag(s)<br>
                            and hit search button to search for questions <br>containing the checked tag(s).<br>
                            To search by tag(s) and search word(s) you simply just write<br>your search word(s) and check the wanted tag(s).
                        </strong>
                    </div>
                </div>
                <button style="margin-top: 130px; margin-left: 55px; font-size: 35px; border-radius: 50%; height: 250px" class="button_5050" th:onClick="togglePopup()">Need help?<br> Click me!</button>
            </div>
            </div>
        </div>

    </div>
</div>
</body>

</html>