<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <form th:action="@{/Quiz/Create/Search}">
            <input style="margin-left: 50px; margin-top: 70px;" type="submit" name="submit" value="Search">
            <input type="text" name="question"><br><br>

            <div style="margin-left: 40px; padding-bottom: 10px;">
                <strong style="color: white; font-size: 18px; text-shadow: 1px 1px 0px black;">Search with tags:</strong><br><br>
                <strong>Network</strong><input style="margin-left: 10px" type="checkbox" name="tag1" th:value="NETWORK"><br><br>
                <strong>Software Security</strong><input style="margin-left: 10px" type="checkbox" name="tag2" th:value="SOFTWARE_SECURITY"><br><br>
                <strong>Coding Standard</strong><input style="margin-left: 10px" type="checkbox" name="tag3" th:value="CODING_STANDARD">
            </div>

            <!--            <button type="submit"><div class="button-3d"><div class="button_text">Load Quiz</div></div></button>-->
        </form>
        <form th:action="@{/Quiz/Create}" th:object="${quiz}" method="post">
            <h1 style="margin-left: 40px; font-size: 18px; color: white; text-shadow: 2px 2px black; font-weight: normal">Name your quiz and select amount of errors
                <br> allowed before losing the quiz.
                <br>If you select '-1' you allow infinite amount of errors.
            </h1>
            <strong style="margin-left: 40px; color: white; font-size: 18px; text-shadow: 1px 1px black">Quiz name:</strong>
            <input type="text" name="name" th:field="*{name}">
            <select name="lives">
                <option value="0">-1</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="hidden" th:field="*{QId}">

            <button style="margin-top: 50px" type="submit">Create quiz</button>
            <div style="height:400px; width: 680px; margin-left: 550px; margin-top: -200px; overflow: auto; border: 1px solid black; font-size: 19px; color: white">
                    <ul>
                        <div th:each="qa : ${qas}">
                            <input style="margin-right: 10px; margin-bottom: 15px" type="checkbox" name="quizqa" th:value="${qa.qaId}" th:field="${quiz.qas}">
                            <label th:text="${qa.qaId}"></label>
                            <label th:text="${qa.question}"></label>
                        </div>
                    </ul>
            </div>
        </form>
<!--            <table th:class="DescMit">-->
<!--                <tr>-->
<!--                    &lt;!&ndash;                        <th>Id</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <th>Name</th>&ndash;&gt;-->
<!--                    <th>ID</th>-->
<!--                    <th>Question</th>-->
<!--                    <th class=th-hidden></th>-->
<!--                </tr>-->
<!--                <tr th:each="qa : ${qas}">-->
<!--&lt;!&ndash;                    <td><input type="checkbox" rel="898"></td>&ndash;&gt;-->
<!--                    <td><input type="checkbox" name="qacheck" th:checked="${qa.qaId} ? 'checked'"></td>-->
<!--                    <td class="DescMit" th:text="${qa.qaId}"></td>-->
<!--                    <td class="DescMit" th:text="${qa.question}"></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
    </div>
</div>
</body>

</html>