<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu" onclick="window.location.href='/adminindex'">Admin</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <div style="height:430px; width: 700px; margin-left: 100px; overflow: auto; border: 2px solid white; font-size: 19px; border-radius: 18px">
                <table th:class="DescMit">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th class=th-hidden></th>
                    </tr>
                    <tr th:each="quiz : ${quizzes}">
                        <td align="center" th:text="${quiz.QId}"></td>
                        <td align="center" style="cursor: pointer" th:text="${quiz.name}"
                            th:onClick="'window.location.href= \''+
						    @{/Quiz/Delete/{quizID}(quizID=${quiz.QId})}+'\''"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>