<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <br>
        <h1 style="color:white; font-size: large; text-align: center" th:text="${'Quiz ID: '+quiz.QId}"></h1>
        <h1 style="color:white; font-size: large; text-align: center" th:text="${'Quiz name: '+quiz.name}"></h1>

        <p style="color:white; font-size: large; text-align: center" th:text="${'Question: '+quiz.qas[__${page}__].question}">
        <p th:if="${quiz.qas[__${page}__].img != null}">
            <img style="max-width: 500px; max-height: 300px;" class="center_image" th:src="*{'data:image/png;base64,'+quiz.qas[__${page}__].img}" alt=""/>
        </p>

        <p class="center_score" style="color: white; font-size: large; margin-top: 35px" th:text="${'Lives left: '+user.lives}"></p>
        <p class="center_score" style="color: white; font-size: large; margin-top: 10px" th:text="${'Score: '+user.score}"></p>

        <form class="center_score" style="color: white; font-size: large; margin-top: 80px" th:action="@{page(page=${page}, id=${quiz.QId})}" th:object="${quiz}">
            <p th:if="${user.lifelines.contains('5050')}">
                <input type="hidden" name="page" th:value="${page}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <input type="hidden" name="5050" th:value="${user.lifelines}">
                <button class="button_5050" type="submit" th:text="'50/50'"></button></p>
        </form>

        <div class="center_answers">
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers[0]}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers[0]}"></button>
            </form>
            <span style="width: 20px;"></span>
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers[1]}">
<!--                <input type="hidden" name="score" th:value="${score}">-->
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers[1]}"></button>
            </form>
            <span style="width: 20px;"></span>
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers[2]}">
<!--                <input type="hidden" name="score" th:value="${score}">-->
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers[2]}"></button>
            </form>
            <span style="width: 20px;"></span>
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers[3]}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers[3]}"></button>
            </form>
        </div>
    </div>
</div>
</body>

</html>