<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">


        <div style="height:400px; width: 680px; margin-left: 400px; margin-top: -100px; overflow: auto; border: 1px solid black; font-size: 19px; color: white">
            <form th:action="@{/testquiz}" th:object="${quiz}" method="post">
                <ul>
                    <div th:each="qa : ${qas}">
                        <input type="checkbox" name="quizqa" th:value="${qa.qaId}" th:field="${quiz.qas}">
                        <label th:text="${qa.qaId}"></label>
                        <label th:text="${qa.question}"></label>
                    </div>
                </ul>
                <button type="submit">New quiz</button>
            </form>

<!--            <table th:class="DescMit">-->
<!--                <tr>-->
<!--                    &lt;!&ndash;                        <th>Id</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <th>Name</th>&ndash;&gt;-->
<!--                    <th>ID</th>-->
<!--                    <th>Question</th>-->
<!--                    <th class=th-hidden></th>-->
<!--                </tr>-->
<!--                <tr th:each="qa : ${qas}">-->
<!--&lt;!&ndash;                    <td><input type="checkbox" rel="898"></td>&ndash;&gt;-->
<!--                    <td><input type="checkbox" name="qacheck" th:checked="${qa.qaId} ? 'checked'"></td>-->
<!--                    <td class="DescMit" th:text="${qa.qaId}"></td>-->
<!--                    <td class="DescMit" th:text="${qa.question}"></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
    </div>
</div>
</div>
</body>

</html>