<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <b style="color:white; font-size: large;" th:text="${quiz.QId}"></b>
            <b style="color:white; font-size: large;" th:text="${quiz.name}"></b>
            <div>
                <p style="color:white; font-size: large;" th:text="${quiz.qas[__${page}__].question}">
                <p th:if="${quiz.qas[__${page}__].img != null}">
                    <img style="max-width: 400px; max-height: 400px" th:src="*{'data:image/png;base64,'+quiz.qas[__${page}__].img}" alt=""/>
                </p>
                <p style="color: white">Score:</p><p style="color: white; font-size: large" th:text="${score}"></p>

                <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                    <input type="hidden" name="page" th:value="${page+1}">
                    <input type="hidden" name="id" th:value="${quiz.QId}">
                    <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers.get(0)}">
                    <input type="hidden" name="score" th:value="${score}">
                    <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers.get(0)}"></button>
                </form>
                <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                    <input type="hidden" name="page" th:value="${page+1}">
                    <input type="hidden" name="id" th:value="${quiz.QId}">
                    <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers.get(1)}">
                    <input type="hidden" name="score" th:value="${score}">
                    <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers.get(1)}"></button>
                </form>
                <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                    <input type="hidden" name="page" th:value="${page+1}">
                    <input type="hidden" name="id" th:value="${quiz.QId}">
                    <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers.get(2)}">
                    <input type="hidden" name="score" th:value="${score}">
                    <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers.get(2)}"></button>
                </form>
                <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                    <input type="hidden" name="page" th:value="${page+1}">
                    <input type="hidden" name="id" th:value="${quiz.QId}">
                    <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers.get(3)}">
                    <input type="hidden" name="score" th:value="${score}">
                    <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers.get(3)}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>