<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function order(){
        let list = $("ul"),
            origOrder = list.children();

        list.on("click", ":checkbox", function() {
            let i, checked = document.createDocumentFragment(),
                unchecked = document.createDocumentFragment();
            for (i = 0; i < origOrder.length; i++) {
                if (origOrder[i].getElementsByTagName("input")[0].checked) {
                    checked.appendChild(origOrder[i]);
                } else {
                    unchecked.appendChild(origOrder[i]);
                }
            }
            list.append(checked).append(unchecked);
        });
        }
    </script>
</head>

<body onload="order()">
<div class="text_frame_menu">
    <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
    <div class="single_text_in_menu" onclick="window.location.href='/adminindex'">Admin</div>
    <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
</div>
<div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <form th:action="@{/Quiz/Edit}" th:object="${quiz}" method="post" style="max-height: 720px">
            <input type="hidden" th:value="${quiz.QId}" name="id">
            <div style="position: absolute; right: 53%; top: 23%;">
            <label class="custom-field one">
                <input type="text" name="name" th:field="*{name}" placeholder=" "><span class="placeholder">Enter Quiz Name</span>
            </label>
            </div>
            <select name="lives"
                    style="font-family: poetsenone, sans-serif; padding: 5px; border-radius: 6px; border: 2px solid black; position: absolute; top: 24%; right: 43%">
                <option value="-2">Amount of errors:</option>
                <option value="-1">Infinite</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button class="button_5050" style="position: absolute; top: 21%; right: 34%" type="submit">
                Save quiz
            </button>
            <h1 style="color: white; text-shadow: 2px 2px black; position: absolute; top: 30%; right: 57%">Questions list:</h1>
            <div style="height:380px; width: 750px; max-width: 1000px; overflow: auto;
                    text-overflow: ellipsis; border: 2px solid white; border-radius: 25px; font-size: 19px; color: white; word-break: break-word;
                    position: absolute; right: 25%; top: 40%; ">
                <ul>
                    <div th:each="qa : ${qas}">
                        <input style="margin-right: 10px; margin-bottom: 15px; float: bottom" type="checkbox"
                               name="quizqa" th:value="${qa.qaId}" th:field="${quiz.qas}">
                        <label style="margin-right: 10px;" th:text="${qa.qaId}"></label>
                        <label style="margin-right: 10px" th:text="${qa.question}"></label>
                    </div>
                </ul>
            </div>
        </form>
        <form th:action="@{/Quiz/Delete/{quizID}(quizID=${quiz.QId})}" th:object="${quiz}" method="post">
            <input type="hidden" th:field="*{QId}">
            <button class="button_5050_delete" style="position: absolute; top: 21%; right: 24%">Delete quiz</button>
        </form>
    </div>
</div>
</body>

</html>