<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <b style="color:white; font-size: large;" th:text="${'Quiz ID: '+quiz.QId}"></b>
            <br>
            <b style="color:white; font-size: large;" th:text="${'Quiz Name: '+quiz.name}"></b>
            <br>
            <br>
            <div>
                <b style="color: white; font-size: large" th:text="${'Final score: '+user.score}"></b>
                <form th:action="@{/Quiz/final-score}" style="margin-top: 30px" method="post">
                    <b style="color: white; font-size: large">Name: </b>
                    <input type="text" name="name">
                    <input type="submit" name="addscore" value="Submit score">
                    <input type="hidden" name="id" th:value="${quiz.QId}">
                    <input type="number" th:value="${user.uid}" name="user" hidden/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>