<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/adminindex'">Home</div>
        <div class="single_text_in_menu"></div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <div style="height:430px; width: 700px; margin-left: 100px; overflow: auto; border: 1px solid white; font-size: 19px">
                <form th:action="@{/Quiz/Delete/{quizID}(quizID=${quiz.QId})}" th:object="${quiz}" method="post">
                    <strong style="margin-top: 15px; margin-left: 40px; color: white">ID:</strong>
                    <strong style="color: white" th:text="${quiz.QId}"></strong>
                    <br>
                    <strong style="margin-top: 15px; margin-left: 40px; color: white">Name:</strong>
                    <strong style="color: white" th:text="${quiz.name}"></strong>
                    <input type="hidden" th:field="*{QId}">
                    <br><br>
                    <button class="button_5050" style="margin-left: 10px" type="submit">Delete quiz</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>