<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7401e2a6eb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">


        <div style="margin-top: 0; margin-right: 10%; padding-top: 13%; float: right" th:if="${call != null}">
            <div id="app"></div>
            <div id="count">
                <input id="page" type="hidden" name="page" th:value="${page}">
                <input id="qid" type="hidden" name="id" th:value="${quiz.QId}">
                <input id="uid" type="hidden" name="user" th:value="${user.uid}">
                <script th:inline="javascript">
                    function secondPassed() {

                        var numDays = Math.floor(seconds / 86400);
                        var numHours = Math.floor((seconds % 86400) / 3600);
                        var numMinutes = Math.floor(((seconds % 86400) % 3600) / 60);
                        var numSeconds = ((seconds % 86400) % 3600) % 60;

                        if (numSeconds < 10) {
                            numSeconds = "0" + numSeconds;
                        }

                        document.getElementById('count').innerHTML = ""

                        if (seconds <= 0) {
                            clearInterval(countdownTimer);
                            // const params = new Proxy(new URLSearchParams(window.location.search), {
                            //     get: (searchParams, prop) => searchParams.get(prop),
                            // });
                            var qid = "[[${quiz.QId}]]";
                            var uid = "[[${user.uid}]]";
                            var page = "[[${page+1}]]";
                            location.href = "times-up?page="+page+"&id="+qid+"&user="+uid;
                        } else {
                            seconds--;
                        }
                    }

                    var seconds = 89;

                    var countdownTimer = setInterval(function () {
                        secondPassed();
                    }, 1000);
                </script>

            </div>
            <script type="text/javascript" th:src="@{/js/countdown.js}"></script>
        </div>
        <br>
        <div th:if="${call != null}" style="margin-left: 28.75%;">
            <h1 style="color:white; font-size: large; text-align: center; font-weight: normal" th:text="${'Quiz ID: '+quiz.QId}"></h1>
            <h1 style="color:white; font-size: large; text-align: center; font-weight: normal" th:text="${'Quiz name: '+quiz.name}"></h1>
            <p style="color:white; font-size: large; text-align: center" th:text="${'Question: '+quiz.qas[__${page}__].question}">
        </div>
        <div th:if="${call == null}">
            <h1 style="color:white; font-size: large; text-align: center; font-weight: normal" th:text="${'Quiz ID: '+quiz.QId}"></h1>
            <h1 style="color:white; font-size: large; text-align: center; font-weight: normal" th:text="${'Quiz name: '+quiz.name}"></h1>
            <p style="color:white; font-size: large; text-align: center" th:text="${'Question: '+quiz.qas[__${page}__].question}">
        </div>
        <p th:if="${quiz.qas[__${page}__].img != null}">
            <img style="max-width: 500px; max-height: 300px;" class="center_image" th:src="*{'data:image/png;base64,'+quiz.qas[__${page}__].img}" alt=""/>
        </p>

<!--        <p th:if="${user.lives>0}" class="center_score" style="color: white; font-size: large; margin-top: 35px" th:text="${'Lives left: '+user.lives}"></p>-->
        <strong class="center_score" th:if="${user.lives>0}" th:text="${'Lives left:'}" style="color: white; font-size: large; position: absolute;"></strong>
        <b></b>
        <div class="center_score" style="margin-top: 35px; margin-left: 130px;">
            <i class="fas fa-heart" th:if="${user.lives==5}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=4}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=3}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=2}"></i>
            <i class="fas fa-heart" th:if="${user.lives>=1}"></i>
        </div>
<!--        <p class="center_score" style="color: white; font-size: large; margin-top: 10px" th:text="${'Score: '+user.score}"></p>-->

        <form class="center_score" style="color: white; font-size: large; margin-top: 100px" th:action="@{page(page=${page}, id=${quiz.QId})}" th:object="${quiz}">
            <p th:if="${user.lifelines.contains('5050')}">
            <input type="hidden" name="page" th:value="${page}">
            <input type="hidden" name="id" th:value="${quiz.QId}">
            <input type="hidden" name="user" th:value="${user.uid}">
            <input type="hidden" name="5050" th:value="${user.lifelines}">
            <button title="If you use this lifeline, two wrong answers will be removed."
                    class="button_5050" type="submit">
                <strong style="font-size: 26px">50/50</strong>
            </button></p>
        </form>
        <form class="center_score" style="color: white; font-size: large; margin-top: 100px; margin-left: -10%" th:action="@{page(page=${page}, id=${quiz.QId})}" th:object="${quiz}">
            <p th:if="${user.lifelines.contains('protection') && quiz.lives>0}">
                <input type="hidden" name="page" th:value="${page}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <input type="hidden" name="protection" th:value="${user.lifelines}">
                <button title="If you use this lifeline you will not lose a life if you answer wrong on this question."
                        class="button_5050" type="submit">
                    <i class="fas fa-shield-alt"></i>
                </button></p>
        </form>
        <form class="center_score" style="color: white; font-size: large; margin-top: 100px; margin-left: 10%" th:action="@{page(page=${page}, id=${quiz.QId})}" th:object="${quiz}">
            <div th:if="${user.lifelines.contains('call')}">
                <input type="hidden" name="page" th:value="${page}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <input type="hidden" name="call" th:value="${user.lifelines}">
<!--                <input type="text" id="search_word">-->

                <button th:if="${user.lifelines.contains('call')}" title="If you use this lifeline it will open a site to help you find the answer, and you have 90 seconds to answer before you lose the chance to answer."
                        class="button_5050" type="submit"
                        onclick="window.open('/callFriend',
                        'name', 'height=500, width=650, left=0, top=0')" style="float: left">


<!--                    onclick="window.open('https://stackoverflow.com/search?q=' + document.getElementById('search_word').value,-->
<!--                    'name', 'height=500, width=650, left=0, top=0')" style="float: left">-->


                    <i class="fas fa-phone-alt"></i>

                </button>
            </div>
<!--                <input th:if="${user.lifelines.contains('call')}" placeholder="Enter search words" type="text" id="search_word" style="color: black; float: left; font-size: 12px; font-family: poetsenone, sans-serif"-->
<!--                onblur="this.placeholder='Enter search words'"-->
<!--                onfocus="this.placeholder=''">-->


        </form>

        <div class="center_answers" style="margin-top: 40px;">
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="prot" th:if="${prot != null}" th:value="${prot}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers[0]}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers[0]}"></button>
            </form>
            <span style="width: 20px;"></span>
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="prot" th:if="${prot != null}" th:value="${prot}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers[1]}">
<!--                <input type="hidden" name="score" th:value="${score}">-->
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers[1]}"></button>
            </form>
            <span style="width: 20px;"></span>
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="prot" th:if="${prot != null}" th:value="${prot}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers[2]}">
<!--                <input type="hidden" name="score" th:value="${score}">-->
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers[2]}"></button>
            </form>
            <span style="width: 20px;"></span>
            <form th:action="@{page(page=${page+1}, id=${quiz.QId})}" th:object="${quiz}">
                <input type="hidden" name="prot" th:if="${prot != null}" th:value="${prot}">
                <input type="hidden" name="page" th:value="${page+1}">
                <input type="hidden" name="id" th:value="${quiz.QId}">
                <input type="hidden" name="answer" th:value="${quiz.qas.get(page).answers[3]}">
                <input type="hidden" name="user" th:value="${user.uid}">
                <button class="button-3d" type="submit" th:text="${quiz.qas.get(page).answers[3]}"></button>
            </form>
        </div>
        <script th:inline="javascript">
            var scoreBenchmark  = [[${quiz.qas.size*10}]];
            var score           = [[${user.score}]];
            function init(){
                $('.score_bar').attr('style', 'height:' + (((score / scoreBenchmark) * 100)*3.5) + 'px' );
            };



            setTimeout(function(){
                init();
            }, 0);
        </script>
        <div class="container_score_bar">
            <div class="score_bar"></div>
        </div>
        <strong style="color: white; float: right; margin-right: 3%; font-size: 20px" th:text="${'Score: '+user.score+' / '+quiz.qas.size*10}"></strong>
    </div>


<!--    <div class="gcse-searchbox-only" data-newWindow="true">-->
<!--        <input type="text" id="testgoogle">-->
<!--        <script>-->
<!--            (function() {-->
<!--                var cx = '012899561505164599335:sxqdbjuqaxm';-->
<!--                var gcse = document.createElement('script');-->
<!--                gcse.type = 'text/javascript';-->
<!--                gcse.async = true;-->
<!--                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;-->
<!--                var s = document.getElementsByTagName('script')[0];-->
<!--                s.parentNode.insertBefore(gcse, s);-->
<!--            })();-->
<!--        </script>-->
<!--    </div>-->

</div>
</body>

</html>