<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <form th:action="@{/Quiz/Select/Search}">
                <strong style="color: white; text-shadow: 1px 1px black; margin-left: 12%">Search by ID:</strong>
                <input type="text" name="qid"><input style="margin-top: 40px;" type="submit" name="submit" value="Search"><br><br>
            </form>
            <div style="height:430px; width: 700px; margin-left: 100px; overflow: auto; border: 1px solid white; font-size: 19px;">
                <table th:class="DescMit">
                    <tr>
                        <th style="font-weight: normal; text-shadow: 1px 1px 0px black">Id</th>
                        <th style="font-weight: normal; text-shadow: 1px 1px 0px black">Name</th>
                        <th class=th-hidden></th>
                    </tr>
                    <tr th:each="quiz : ${quizzes}">
                        <td align="center" th:text="${quiz.QId}"></td>
                        <td align="center" style="cursor: pointer" th:text="${quiz.name}"
                            th:onClick="'window.location.href= \''+
						    @{/Quiz/Start/{quizID}(quizID=${quiz.QId})}+'\''"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>