<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/popup.js}"></script>
</head>

<body onload="popupload()">
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu"></div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <script>function popupload(){togglePopup();}</script>
        <div class="popup" id="popup-1" style="float:right;">
            <div class="overlay" th:onClick="togglePopup()"></div>
            <div class="content">
                <div class="close-btn" th:onClick="togglePopup()">&times;</div>
                <h1>Question:</h1>
                <strong th:if="${page>0}" style="color: black; font-weight: normal; font-size: 22px; text-overflow: ellipsis; width: 900px; display:inline-block" th:text="${quiz.qas.get(page -1).question}"></strong>
                <h1>Correct answer:</h1>
                <strong th:if="${page>0}" style="font-size: 22px; text-overflow: ellipsis; width: 900px; display:inline-block" th:text="${quiz.qas.get(page -1).correctAnswer}"></strong>
                <h1>Explanation:</h1>
                <strong th:if="${page>0}" style="font-size: 22px; text-overflow: ellipsis; width: 900px; display:inline-block" th:text="${quiz.qas.get(page -1).explanation}"></strong>
            </div>
        </div>

        <div class="center">
            <strong style="color:white; font-size: large;" th:text="${'Quiz ID: '+quiz.QId}"></strong>
            <br>
            <strong style="color:white; font-size: large;" th:text="${'Quiz Name: '+quiz.name}"></strong>
            <br>
            <br>
            <div>
                <strong style="color: white; font-size: large" th:text="${'Final score: '+user.score*1000}"></strong>
                <form th:action="@{/Quiz/final-score}" style="margin-top: 30px" method="post">
                    <strong style="color: white; font-size: large">Name: </strong>
                    <input type="text" name="name"><br><br>
                    <input class="button_5050" style="font-size: 30px" type="submit" name="addscore" value="Submit score">
                    <input type="hidden" name="id" th:value="${quiz.QId}">
                    <input type="number" th:value="${user.uid}" name="user" hidden/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>