<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecQuiz</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="text_frame_menu">
        <div class="single_text_in_menu" onclick="window.location.href='/'">Home</div>
        <div class="single_text_in_menu">Achievements</div>
        <div class="single_text_in_menu" onclick="window.location.href='/Quiz/Leaderboard/Select'">Leaderboard</div>
    </div>
    <div class="logo_text">SoftSec Quiz</div>

<div class="center">
    <div class="container">
        <div class="center">
            <div style="height:430px; width: 700px; margin-left: 100px; overflow: auto; border: 1px solid black; font-size: 19px">
                <form th:action="@{/Quiz/Delete/{quizID}(quizID=${quiz.QId})}" th:object="${quiz}" method="post">
                    <b style="margin-top: 15px; margin-left: 40px; color: white">ID:</b>
                    <b style="color: white" th:text="${quiz.QId}"></b>
                    <br>
                    <b style="margin-top: 15px; margin-left: 40px; color: white">Name:</b>
                    <b style="color: white" th:text="${quiz.name}"></b>
                    <input type="hidden" th:field="*{QId}">

                    <button type="submit">Delete quiz</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>